<div class="bg-neutral-700 text-white rounded-lg shadow-md mt-4 p-4">
  <div class="p-4 bg-neutral-900 rounded-lg mb-2">
    <p class="text-white">{{ answer.response }}</p>
  </div>
  <div class="hidden md:flex justify-between items-center text-neutral-300">
    <div class="flex items-center text-sm">
      <span>Model: {{ answer.model }}</span>
      <span class="mx-2">|</span>
      <span>Duration: {{ answer.total_duration | nanoToSeconds }} s</span>
      <span class="mx-2">|</span>
      <span>Load Duration: {{ answer.load_duration | nanoToSeconds }} s</span>
      <!-- <span class="mx-2">|</span>
      <span>Context IDs: {{ answer.context.join(', ') }}</span> -->
    </div>
    <span class="text-sm">{{ answer.created_at | date: 'short' }}</span>
  </div>
</div>
